.homepage {
    margin-bottom: 20px;
}

.homepage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    /* box-shadow: 5px 5px 30px .5px; */
}

.homepage-image {
    background-image: url(/imgs/banner.jpg);
    background-position-y: bottom;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    filter: brightness(70%) blur(1px);
    width: 100%;
    height: auto;
    height: 100vh;
    aspect-ratio: 16/9;
}


.homepage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    color: #F2F2F2;
    gap: 35px;
}

.header-title {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}



.header-button {
    padding: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border-radius: 20px;
    color: black !important;
    letter-spacing: 1.2px;
    border: none;
    background: var(--gradient);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 2px 5px 0px rgba(0, 0, 0, 0.09), 0px 9px 9px 0px rgba(0, 0, 0, 0.08), 0px 20px 12px 0px rgba(0, 0, 0, 0.05), 0px 35px 14px 0px rgba(0, 0, 0, 0.01), 0px 55px 15px 0px rgba(0, 0, 0, 0.00);
}

@media screen and (max-width:1000px) {
    .header-title {
        font-size: 30px;
    }

    .header-button {
        padding: 10px;
        font-size: 17px;
    }

    .homepage-image {
        background-position: center right;
        filter: brightness(70%) blur(0px);
    }
}


@media screen and (max-width:600px) {
    .header-title {
        font-size: 25px;
    }
}

@media screen and (max-width:650px) {
    .homepage-image {
        background-image: url(/imgs/banner-mobile.jpg);
    }
}