/** Footer**/


.footer {
    background-color: var(--black);

    /* background-color: rgba(103, 103, 103, 0.665); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    width: 100%;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 1% 0 .5% 0;
    gap: 25px;
}

.footerlogo-container {
    text-align: center;
}

.socials-container {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.copy-container {
    color: white;
    text-align: center;
    font-size: 13px;
}

.socials>a>i {
    color: white;
}

.socials>a>span {
    color: white;
    font-size: 1.8rem;
}

.socials>a>span:hover {
    color: rgba(131, 96, 210, 1);
}



.footer-logo {
    height: 70px;
}