.breadcrumb {
    display: flex;
    text-align: left;
    gap: 5px;
    width: 100%;
}

.breadcrumb>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.breadcrumb>div>a {
    color: black;
    font-weight: 600;
}

.breadcrumb>div>a:hover {
    text-decoration: underline;
}

.breadcrumb-item {
    margin-left: 7%;
}

.breadcrumb-category {
    justify-content: flex-start;
}

@media screen and (max-width:800px) {
    .breadcrumb {
        margin: 0% 5%;
        text-align: right;

        align-items: center;
        justify-content: center;

    }

    .breadcrumb>div {
        gap: 0px
    }

    .breadcrumb>div>a {
        font-size: 12px
    }
}



@media screen and (max-width:550px) {
    .lastcrumb-div {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        direction: rtl;
        text-align: center
    }

    .lastcrumb {
        /* hide text when we have more than N lines */
        text-overflow: ellipsis;
    }
}