.breadcrumb {
    display: flex;
    text-align: left;
    gap: 5px;
    width: 100%;
}

.breadcrumb>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.breadcrumb>div>a {
    color: black;
    font-weight: 600;
}

.breadcrumb>div>p {
    font-weight: 600;
}

.breadcrumb>div>a:hover {
    text-decoration: underline;
}

.breadcrumb-item {
    margin-left: 7%;
}

.breadcrumb-category {
    justify-content: flex-start;
}

@media screen and (max-width:800px) {
    .breadcrumb-item {
        margin: 0% 5%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .breadcrumb>div {
        gap: 0px
    }

    .breadcrumb>div>a {
        font-size: 14px
    }
}



@media screen and (max-width:550px) {}