<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/home/add.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Document</title>
</head>

<body>
    <div class="cargar">
        <h1>
            Cargar nuevo producto
        </h1>
        <form action="/nuevoproducto" method="POST" class="form" enctype="multipart/form-data">
            <h1>Añade un producto</h1>
            <input placeholder="Marca" name="marca">
            <input placeholder="Nombre" name="nombre">
            <input placeholder="Precio" name="precio">
            <input placeholder="Tags" name="tags">
            <input type="file" name="fotoProducto">
            <button type="submit" disabled id="submitproduct">Añadir</button>
        </form>
    </div>

    <div class="overlay"></div>

</body>
<script>
    const form = document.querySelector('.form')
    const nombre = document.getElementsByName('nombre')[0]
    const precio = document.getElementsByName('precio')[0]
    const tags = document.getElementsByName('tags')[0]
    const marca = document.getElementsByName('marca')[0]
    const img = document.getElementsByName('fotoProducto')[0]
    const button = document.getElementById('submitproduct')

    form.addEventListener('change', (e) => {
        e.preventDefault()
        console.log('working');
        if (nombre.value && precio.value && tags.value && img.value && marca.value) {
            button.disabled = false
        }
    })
</script>

</html>