@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:ital,wght@0,400;1,200&family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');
@import "primereact/resources/primereact.min.css";
@import 'primeicons/primeicons.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
    --blue: #323C59;
    --bluevariant: #2E3159;
    --beige: #F2E2C4;
    --darkbeige: #A69E8F;
    --darkwhite: rgb(226, 226, 226);
    --white: #F2F2F2;
    --black: rgba(0, 0, 0, 0.9);
    --gradient: linear-gradient(to right, rgba(73, 84, 192, 1) 0%, rgba(131, 96, 210, 1) 40%);
    --violet: rgba(131, 96, 210, 1);
}

a {
    text-decoration: none;
}



* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    transition: .5s;
}


html {
    overflow-x: hidden !important;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    overflow-x: hidden !important;
}




/* Carousel */
.carousel {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemSliderContainer {
    padding: 5% 0;
}

.carousel-section-title {
    width: 90%;
    margin: 0 auto;
}

.item-slider {
    width: 90%;
    margin: 0px auto;
    padding: 5px;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: .1%;
    transition: .5s;
    border: 1px solid transparent;
}

.product-card:hover {
    border: 1px solid black;
}

.product-card>a {
    text-decoration: none;
    color: black;

}

.product-card-description {
    padding: 2% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105px;
}

.product-card-title {
    display: grid;
    place-items: left;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.product-card-category {
    color: gray;
}

.product-card>a>div {
    position: relative;
}


.product-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    aspect-ratio: 4/5;
}

.product-card>a::after,
.product-list>a::after {
    content: "Envío Gratis";
    position: absolute;
    z-index: 20;
    background: var(--gradient);
    top: 10px;
    border-radius: 0px 10px;
    color: white;
    font-size: 12px;
    padding: 0 7px;
    font-weight: 400;
}

.product-price {
    font-size: 16px;
    color: #000;
    font-weight: 800;
}

.product-list {
    width: 100%;
    border: 1px solid transparent;
    transition: .2s;
    margin-bottom: 4%;
    position: relative;
}

.product-list:hover {
    border: 1px solid black;
}

.product-list-loader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100vh;
}


/* ITEM SLIDER*/

.slick-next,
.slick-prev {
    height: 120%;
}


.slick-next:hover,
.slick-prev:hover {
    opacity: 0.5;
}

.slick-next::before,
.slick-prev:before {
    color: grey;
}

.slick-dots {
    bottom: -35px;
}

/*Product list**/

.product-list-container-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding: 0 3%;
    width: 100%;
}


.product-list-container {
    display: grid;
    gap: 2px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(17%, 1fr));
    column-gap: 2%;
    justify-items: center;

}

.side-menu-container {
    width: 80%;
}

.empty-search {
    text-align: center;
}


.filters-button {
    background: white;
    border-radius: 5px;
    padding: 15px 50px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    width: 80px;
    height: 30px;
    justify-content: center;
    gap: 20px;
    transition: .1s;
}

.filters-button:hover {
    opacity: .8;
}

.filters-button>span {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}


/** Side Menu Categoy selectors**/

.category-selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    width: 80%;
}

.category-selector-title {
    font-weight: 600;
}

.category-selector-radio {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.button-category {
    background-color: transparent;
    border: none;
    width: 60%;
    height: 40px;
    text-align: left;
    transition: .001s;
}

.button-category:hover {
    background-color: rgba(128, 128, 128, 0.142);
}





/*guia de talles*/

.talles-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.talles-container>img {
    height: 80vh
}

@media screen and (max-width:1200px) {
    .product-list-container-wrapper {
        margin-top: 180px;
    }

    .product-list-container {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media screen and (max-width:800px) {
    .product-list-container-wrapper {
        margin-top: 145px;
    }


    .product-list-container {
        display: grid;
        gap: 2px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
        column-gap: 2%;
        padding: .5px;
        justify-items: center;
    }
}